body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  background-color: #e5f3f2;
}

h1 {
  color: #00a79d;
  font-family: 'Roboto Slab', serif;
  margin-bottom: 0;
  margin-top: 0;
  padding: 1rem;
  text-align: center;
}

span {
  color: #6d6e71;
}

p {
  font-family: 'Open Sans', sans-serif;

}

.title-input, .body-input, .submit-button, .search {
  display: block;
  margin: auto;
  width: 55%;
}

.body-input {
  height: .8125rem;
  line-height: 12px;
  padding: 1px;
  resize: none;
}

::placeholder {
  font-family: 'Open Sans', sans-serif;
}

.submit-button {
  background-color: #CCCCCC;
  border-width: 0;
  color: #fff;
  height: 1.5rem;
  margin-top: .6rem;
  margin-bottom: .7rem;
  width: 55.3%;
}

.submit-button:focus {
  background-color: #CCCCCC;
}

.title-input, .body-input, .search {
  border: 1px solid lightgray;
  margin-bottom: .5rem;
  margin-top: .5rem;
}

.title-input {
  margin-top: 0;
}

form {
  padding-bottom: .7rem;
}

.search {
  margin-top: 1rem;
}

img {
  width: 1.4em;
}

h3 {
  color: #6d6e71;
  font-family: 'Roboto Slab', serif;
  margin-bottom: .5rem;

}

article {
  width: 55.3%;
  margin: auto;
}

.delete-button {
  float: right;
  margin-top: .1rem;
}

.idea-body {
  color: #939598;
  font-size: .9rem;
  margin-top: 0;
}

.quality {
  color: #6d6e71;
  line-height: 1.1;
  margin: 0;
  float: left;
  font-family: 'Roboto Slab', serif;
}

.upvote, .downvote {
  display: inline-block;
  float: left;
  margin-right: 1rem;
}

.clearfix::after {
  clear: both;
  content: "";
  display: table;
}

.active-quality {
  font-family: 'Open Sans', sans-serif;
}

hr {
  margin-top: 1.3rem;
}

@media(min-width: 1400px) {
  .title-input, .body-input, .search, article {
    max-width: 48.125rem;
  }

  .submit-button {
    max-width: 48.3875rem;
  }
}

@media(max-width: 700px) {
  .title-input, .body-input, .search, article{
    min-width: 24.0625rem;
 }

  .body-input {
    height: 2.4375rem;
    padding-top: 0;
}

  .submit-button {
    min-width: 24.19375rem;
 }
}

@media(max-width: 417px) {
  .title-input, .body-input, .search, article{
    min-width: 92.326%;
  }
  
  .submit-button {
    min-width: 92.829%;
  }
}