body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  background-color: #e5f3f2;

}

h1 {
  color: #00a79d;
  font-family: 'Roboto Slab', serif;
  text-align: center;
  margin-top: 0;
  padding: 1rem;
  margin-bottom: 0;
  font-size: 
}

span {
  color: #6d6e71;
}

p {
  font-family: 'Open Sans', sans-serif;

}

.title-input, .body-input, .submit-button, .search {
  display: block;
  margin: auto;
  width: 55%;
}

::placeholder {
  font-family: 'Open Sans', sans-serif;
}

.submit-button {
  background-color: #00a79d;
  color: #fff;
  width: 55.3%;
  margin-top: .6rem;
  margin-bottom: .7rem;
  height: 1.5rem;
  border-width: 0;
}

.title-input, .body-input, .search {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.title-input {
  margin-top: 0;
}

form {
  padding-bottom: .7rem;
}

.search {
  margin-top: 1rem;
}

img {
  width: 1.4em;
}

h3 {
   font-family: 'Roboto Slab', serif;
   color: #6d6e71;
   margin-bottom: .5rem;

}

article {
  width: 55.3%;
  margin: auto;
}

.delete-button {
  float: right;
  margin-top: .1rem;
}

.idea-body {
  color: #939598;
  margin-top: 0;
  font-size: .9rem;
}

.quality {
  color: #6d6e71;
  line-height: 1.1;
  margin: 0;
  float: left;
  font-family: 'Roboto Slab', serif;

}

.upvote, .downvote {
  display: inline-block;
  float: left;
  margin-right: 1rem;
}

.button-quality-wrapper {

}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.active-quality {
  font-family: 'Open Sans', sans-serif;
}

hr {
  margin-top: 1.3rem;
}

@media(min-width: 1400px) {
  .title-input, .body-input, .search, article{
    max-width: 48.125rem;
  }
  .submit-button {
    max-width: 48.3875rem;
  }
}